version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "13:00"
  open-pull-requests-limit: 10
  automerged_updates:
    - match:
        dependency_type: "development"
        # Supported dependency types:
        # - "development"
        # - "production"
        # - "all"
        update_type: "all"
    - match:
        dependency_type: "production"
        update_type: "all"
  ignore:
  - dependency-name: react-redux
    versions:
    - "> 5.1.2"
  - dependency-name: react-responsive
    versions:
    - "> 4.1.0"
